*{
    margin: 0;
    padding:0;
}
.navbar.navbar-expand-lg.bg-primary a {
    color:white;
}
.mypage {
    width:100%;
    height: 100%;
    background-color: white;
    padding:25px 60px 80px 100px;
}
.text-box{
    width:90%;
    height:75%;
    background-color:dodgerblue;
    margin:25px 50px 75px 100px;
    display:flex;
    border-style: double;
}
.myheader{
    color:black;
    margin: auto;
    padding: 50px 25px;
}

/*media query */
















/*products page */

.view-box{
    display:grid;
    grid-template-columns: 500px auto;
    height: 100%;
    overflow: hidden;
}
#menu{
    background-color:white;
}
#inventory{
    background-color:white;
    width:100%;
    height:100%;
}
.new-item{
    width:100%;
    height:20px;
    text-align:center;
    margin-top: 30px;
    margin-bottom:30px;
}
.float{
    width:100%;
    height:20px;
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    margin-bottom:30px;
}
.myfooter{
    width:100%;
    height:20px;
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    margin-bottom:30px; 
}





